

:root{

    /* color */

--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Dark-Gray: hsl(0, 0%, 55%);
--Very-Dark-Gray: hsl(0, 0%, 41%);
}

*{
    padding: 0;
    margin: 0;
}

body, html{
    margin: none;
    padding: none;
    /* font-family: 'Alata', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    Font-size: 15px;
    width: 100vw;
    background-color: violet;
}

.main-container{
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    width: 100%;
    background-color: white;
    margin: none;
}

.nav-container{
    width: 100%;
    background-image: url('images/desktop/image-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;  
}

.secondary-nav{
    display: none;
    width: 100%;
}


#nav-bar{ 
    display: flex;
    width: 50%;
    padding: 2%;
}

.logo{
    margin-right: 60%;
    margin-left: 5%;
    cursor: pointer;
}

#closeBtn{
    
    display: none;
    margin-left: 3%;
}

#nav-items{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#nav-link{
    list-style: none;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 2%;
}

#nav-link a{
    text-decoration: none;
    color: white;
    margin-left: 8px;
    cursor: pointer;
    padding-bottom: 3px;
}

#nav-link a:hover{
    border-bottom: 1px solid;
    width: 20px;
    height: 1px;
}

.nav-header{
    width: 40%;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    color: white;
    font-size: 2rem;
    
}


.banner{
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    width: 80%;
    height: max-content;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:600;
    background-color: white;
}

.banner img{
    height: 1005;
    width: 50%;
}

.banner-div{ 
    background-color: white;
    padding: 2%;
    text-align: left;
    width: 40%;
    margin-top: 8%;
    margin-bottom: 2%;
    margin-left: -100px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.banner-div h1{
    font-size: 3rem;

}
.our-creation{
width: 50%;
margin-left:auto ;
margin-right: auto;
justify-content: space-between;
font-size: 1.5rem;
}

.see-all{
    width: 50%;
    display: flex;
}

.see-all a{
    text-decoration: none;
    margin-left: 80%;
    color: black ;
    padding: 5px;
    padding-bottom: none;
    border: 1px solid;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:600;
    font-size: 1.5rem;
}

.see-all a:hover{
    color: white;
    background-color: black;
}

.our-creation-div{
    width: 80%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
    padding-bottom: 5%;
}

.creations{
    width: 24%;
    height: 300px;
    background-color: burlywood;
    background-size: cover;
    margin-top: 1%;
    color: white;
    cursor: pointer;
}

.creations h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 95%;
     
}

.DEEP-EARTH{
    background-image: url('images/desktop/image-deep-earth.jpg');
}
.NIGHT-ARCADE{
    background-image: url('images/desktop/image-night-arcade.jpg');
}
.SOCCER-TEAM-VR{
    background-image: url('images/desktop/image-soccer-team.jpg');
}
.THE-GRID{
    background-image: url('images/desktop/image-grid.jpg');
}
.FROM-UP-ABOVE-VR{
    background-image: url('images/desktop/image-from-above.jpg');
}
.POCKET-BOREALIS{
    background-image: url('images/desktop/image-pocket-borealis.jpg');
}
.THE-CURIOSITY{
    background-image: url('images/desktop/image-curiosity.jpg');
}
.MAKE-IT-FISHEYE{
    background-image: url('images/desktop/image-fisheye.jpg');
}

.hover{
    background-color: grey;
}
.hover:hover{
    background-blend-mode: soft-light;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 3%;
    padding-right: 5%;
    padding-left: 5%;

}

.footer-nav{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 40%;
}

.footer-nav ul{
    display: flex;
    list-style: none;
    justify-content:space-between;
    padding: 0;
    margin-top: 2%;
}

.footer-nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    padding-bottom: 5px;
}

.footer-nav ul li :hover{
    border-bottom: 1px solid;
   width: 20px;
   height: 1px;
}
.footer-nav-social{
    display: flex;
    flex-direction: column;
    width: 34%;
}

.footer-nav-social ul{
    display: flex;
    list-style: none;
    justify-content:space-between;
    padding: 0;
    margin-top: 2%;
}

.footer-nav-social small{
    margin-top: 2%;
}

.footer-nav-social ul li a:hover{
    border-bottom: 1px solid;
    border-color: white;
   width: 20px;
   height: 1px;
}


@media screen and (max-width:600px) {

        #nav-bar{ 
        position: absolute;
        z-index: 1;
        display: none;
        flex-wrap: wrap;
        /* flex-direction: column; */
        width: 100%;
        height: 70vh;
        padding: 2%;
        background-color: black;
    }

    .secondary-nav{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    }

    #second-menu-btn{
        display: block;
        margin-right: 10px;
        margin-top: 2%;
        cursor: pointer;
    }

    .logo{
    margin-right: 15%;
    margin-left: 4%;
    cursor: pointer;
        }
            #closeBtn{
            display: inline-block;
            margin-left: 25%;
            cursor: pointer;
        }

            #nav-items{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 10%;
        }

        #nav-link{
            list-style: none;
            font-family: 'Alata', sans-serif;
            font-weight: 100;
            font-size: 20px;
            margin-bottom:10px;
        }

        #nav-link a{
            margin-bottom: 20px;
        }


        .nav-header{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25%;
            margin-bottom: 50%;
            border: 1px solid white;
            padding: 10px;
            text-align: left;
            color: white;
        }

        .nav-header h1{
            font-size: 2.5rem;
        }


        .banner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            margin-top: 5%;
            padding: 3%;
            width: 80%;
            height: max-content;
            font-family: 'Josefin Sans', sans-serif;
            font-weight:600;
            background-color: white;
        }

        .banner img{
            width: 100%;
        }

        .banner-div{ 
            background-color: white;
            padding: 2%;
            text-align: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 8%;
            margin-bottom: 2%;
            font-family: 'Josefin Sans', sans-serif;
        }

            .our-creation{
            width: 100%;
            text-align: center;
            margin-left:auto ;
            margin-right: auto;
            justify-content: space-between;
            }

            .see-all{
                width: 100%;
                display: flex;
                order: 13;
                margin-top: 3%;
            }
            
            .see-all a{
                margin-left: 41%;
                
            }

            .creations{
            width: 200%;
            /* height: 200px ; */
            background-color: burlywood;
            background-size: fill;
            background-repeat: no-repeat;
            margin-top: 3%;
            color: white;
            cursor: pointer;
        }
        .creations h3 {
            text-align: left;
            margin-left: 5%;
            margin-top: 200px;
            margin-bottom: 10px;
            
        }

        .DEEP-EARTH{
            background-image: url('images/mobile/image-deep-earth.jpg');
        }

        .NIGHT-ARCADE{
            background-image: url('images/mobile/image-night-arcade.jpg');
        }
        .SOCCER-TEAM-VR{
            background-image: url('images/mobile/image-soccer-team.jpg');
        }
        .THE-GRID{
            background-image: url('images/mobile/image-grid.jpg');
        }
        .FROM-UP-ABOVE-VR{
            background-image: url('images/mobile/image-from-above.jpg');
        }
        .POCKET-BOREALIS{
            background-image: url('images/mobile/image-pocket-borealis.jpg');
        }
        .THE-CURIOSITY{
            background-image: url('images/mobile/image-curiosity.jpg');
        }
        .MAKE-IT-FISHEYE{
            background-image: url('images/mobile/image-fisheye.jpg');
        }

        footer{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    justify-items: center;
    color: white;
    background-color: black;
    padding: 3%;
    padding-right: 5%;
    padding-left: 5%;

}


.footer-nav{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
    align-items: center;
}

    .footer-nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        justify-content:space-between;
        padding: 0;
    }

    .footer-nav ul li {
        margin-bottom: 15%;
    }

    .footer-nav-social{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

    .footer-nav-social ul{
        display: flex;
        width: 50%;
        list-style: none;
        justify-content:space-between;
        margin-bottom: 5%;
    }
    
}  



